@import "./presets/extensive/styles.css";
@import "./presets/simple-text/styles.css";
@import "./presets/rich-text-box/styles.css";
@import "./presets/chat-window/styles.css";
@import "./presets/email-compose/styles.css";
@import "./presets/md-text/styles.css";
@import "./presets/notion-like/styles.css";
@import "./presets/headless-editor/styles.css";
@import "./presets/notes/styles.css";
